.spinner-animation {
  animation: spinner 1.6s linear infinite;
  animation-delay: -1.6s;
}

.spinner-animation-secondary {
  animation-delay: -1s;
}

@keyframes spinner {
  12.5% {
    transform: translate(13px, 1px);
  }
  25% {
    transform: translate(13px, 1px);
  }
  37.5% {
    transform: translate(13px, 13px);
  }
  50% {
    transform: translate(13px, 13px);
  }
  62.5% {
    transform: translate(1px, 13px);
  }
  75% {
    transform: translate(1px, 13px);
  }
  87.5% {
    transform: translate(1px, 1px);
  }
}
